<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cstb.vigiphone3">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Gestion -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Boot Completed -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".data.database.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCP6RjVRFd8r-iyPDySTzkkwvOdFaaBqko" />

        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.SensorService"
            android:enabled="true" />
        <service
            android:name=".service.LocationService"
            android:enabled="true" />
        <service
            android:name=".service.SignalService"
            android:enabled="true" />
        <service
            android:name=".service.RecordService"
            android:enabled="true"/>

        <receiver android:name=".service.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>